@echo off

setx BAT_THEME base16
setx FZF_DEFAULT_COMMAND "rg -. -g !.git --files"
setx HOME "%USERPROFILE%"
setx LESS "-FKR --mouse"
setx LESSHISTFILE -

gvim +PlugClean! +PlugUpdate +qa
SystemPropertiesAdvanced
