# vim: ft=gitconfig
[user]
	name = {{ .name }}
	email = {{ .email }}
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	quotePath = false
[credential]
	helper =
[diff]
	algorithm = histogram
	colorMoved = default
	colorMovedWS = allow-indentation-change
	renames = copies
[difftool]
	prompt = false
[fetch]
	parallel = 0
	prune = true
[http]
	postBuffer = 1000M
[https]
	postBuffer = 1000M
[merge]
	conflictstyle = diff3
	tool = vimdiff
[push]
	default = simple
[stash]
	showPatch = true
[status]
	showStash = true
[submodule]
	recurse = true
[alias]
	ga = gc --aggressive --prune=now
	lg = log --graph --abbrev-commit --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
{{ if lookPath "delta" -}}
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
	singleKey = true
[delta]
	navigate = true
{{ end -}}
{{ if eq .chezmoi.os "windows" -}}
[core]
	editor = vim.exe -u NONE
{{ end -}}
